header{
    background-color: red;
    height:300px
}
main{
    background-color: whitesmoke;
    height: 300px;
}
footer{
    background-color: blue;
    height: 300px;
}
#produtos{
    background-color: whitesmoke;
    height: 400px;
} 
#parceiros{
    background-color: whitesmoke;
    height: 400px;

}
   
#historia{
    background-color: whitesmoke;
    height: 400px;
}
#cadastro{
    background-color: whitesmoke;
    height: 400px;
}