header{
    background-color: blue;
    height: auto;
}
main{
   
}
footer{

}
#jogadores{
    background-color: blue;
    height: 700px;
} 
#parceiros{
    background-color: yellow;
    height: 700px;

}
   
#historia{
    background-color: darkblue;
    height: 700px;
}
#cadastro{
    background-color: darkred;
    height: 700px;
}
#logotipo{
    height: 250px;

}